<!-- views/profileBK.ejs -->
<!doctype html>
<html>
<head>
	<title>FAW/Locust Project - User Profile</title>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/Profile.css" type="text/css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="//cdn.datatables.net/buttons/1.4.2/css/buttons.dataTables.min.css">
    <link rel="stylesheet" href="../css/Title.css" type="text/css">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="//cdn.datatables.net/buttons/1.4.2/js/dataTables.buttons.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <style>
        .banner{
            position:relative;
            width:100%;
            text-align:center;
            display:inline-block;
        }
        body { padding-top:80px; word-wrap:break-word; }

        .container1{
            margin-left:100px;
        }

        .input {
            width: 8%;
        }
        .change1{
            width:30%;
        }
        @media only screen and (max-width: 320px){
            .input{
                font-size: 10px;
                width: 22%;
            }

            .container1 {
                margin-left: 10px;
            }
            #currentpassword,#newpassword,#Confirmpassword{
                width:35%;
            }
            .change1{
                font-size: 10px;
                width:50%;
            }
            h5{
                margin-left:1px;
            }
            #userrole{
                margin-top:-20px;
            }
        }

        @media screen and (max-width:375px) {
            .container1 {
                margin-left: 10px;
            }
            .input{
                font-size: 14px;
                width: 22%;
            }
            #userrole{
                margin-top:-20px;
            }
            .change1{
                font-size: 13px;
                width:50%;
            }
            #currentpassword,#newpassword,#Confirmpassword{
                width:40%;
            }

        }
        @media screen and (max-width:414px) {
            .container1 {
                margin-left: 10px;
            }
            .input{
                font-size: 15px;
                width: 22%;
            }
            #userrole{
                margin-top:-20px;
            }
            .change1{
                font-size: 14px;
                width:60%;
            }
            #currentpassword,#newpassword,#Confirmpassword{
                width:40%;
            }

        }

        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }

        .invisibleRow {
            display: none;
        }
    </style>

</head>
<body>

<div class="container">
    <a href="//aworldbridge.com"><img class="banner" src="/pic/NewWBBanner.jpg"/></a>
    <div class="page-header text-center header">
        <h1><span class="fa fa-anchor"></span> FAW Project -  User Profile </h1><h4><span class="fa fa-user"></span>&nbsp;<strong>Account Name</strong>: <%= user.username %></h4><br>
        <a href="/userhome" class="btn btn-default btn-lg">User Home</a>&nbsp;&nbsp;
        <a id="information" class="btn btn-default btn-lg refresh" onclick="refresh(this.id)" style="display: none">Information</a>&nbsp;&nbsp;
        <!--<a id="resetPassword" class="btn btn-default btn-lg refresh" onclick="refresh(this.id)">Reset Password</a>&nbsp;&nbsp;-->
        <a id="fieldManagement" class="btn btn-default btn-lg refresh" onclick="refresh(this.id)">Field Management</a>&nbsp;&nbsp;
        <div class="dropdown floating-Box">
            <button class="btn btn-primary btn-lg" data-toggle="dropdown" id="Username"><%= user.firstName%>
                <span class="caret"></span>
            </button>
            <ul id="userMenu" class="dropdown-menu">

            </ul>
        </div>
    </div>

    <div class="container1">
        <br><br>
        <div id="informationDiv">
            <form id="submit" onsubmit="return checkForm()" action="/userProfile" method="post">
                <h4 class="floating-Box"><strong>User Name:&nbsp;</strong></h4>
                <h5 class="floating-Box">First Name:&nbsp;
                    <input type="text" id="usernameF" name="usernameF"  value="<%= user.firstName %>">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h5>
                <h5 class="floating-Box">Last Name:&nbsp;
                    <input type="text" id="usernameL" name="usernameL" value="<%= user.lastName %>">
                </h5>
                <br><br>
                <div>
                    <h4 id="userrole" class="floating-Box"><strong>User Role:&nbsp;&nbsp;</strong></h4><input class="input" type="text" style="background:WhiteSmoke;" value="<%= user.userrole%>" readonly>
                </div><br>
                <div>
                    <h4 class="floating-Box"><strong>Date created:&nbsp;&nbsp;</strong></h4><input class="change1" type="text" style="background:WhiteSmoke;" value="<%= user.dateCreated %>" readonly>
                </div><br>
                <div>
                    <h4 class="floating-Box"><strong>Last Modification:&nbsp;&nbsp;</strong></h4><input class="change1" type="text" style="background:WhiteSmoke;" value="<%= user.dateModified %>" readonly>
                </div><br>
                <div>
                    <h4 class="floating-Box"><strong>LoginName/Email:&nbsp;&nbsp;</strong></h4><input class="input" type="text" style="background:WhiteSmoke;" value="<%= user.username%>" readonly>
                </div><br>
                <div>
                    <h4 class="floating-Box"><strong>Last Modificated by:&nbsp;&nbsp;</strong></h4><input class="input" type="text" style="background:WhiteSmoke;" value="<%= user.username%>" readonly>
                </div>

                <h4><strong>Password Reset</strong>:   </h4>

                <div>
                    <h5>Current Password:
                        <input type="password" id="currentpassword" name="currentpassword" maxlength="2000px" style="margin-left:55px;">
                    </h5>
                </div>
                <div>
                    <h5>New Password:
                        <input type="password" id="newpassword" name="newpassword" maxlength="2000px" style="margin-left:74px;">
                    </h5>
                </div>
                <div>
                    <h5>Confirm New Password:
                        <input type="password" id="Confirmpassword" name="Confirmpassword" maxlength="2000px" style="margin-left:19px;">
                    </h5>
                </div>

                <button id="SS"  type="submit" class="btn btn-warning btn-sm"> Submit </button>
            </form>
        </div>

        <!--<div id="resetPasswordDiv" style="display: none">-->
            <!--<h4><strong>Password Reset</strong>:   </h4>-->

            <!--<div>-->
                <!--<h5>Current Password:-->
                    <!--<input type="password" id="currentpassword" name="currentpassword" maxlength="2000px" style="margin-left:55px;">-->
                <!--</h5>-->
            <!--</div>-->
            <!--<div>-->
                <!--<h5>New Password:-->
                    <!--<input type="password" id="newpassword" name="newpassword" maxlength="2000px" style="margin-left:74px;">-->
                <!--</h5>-->
            <!--</div>-->
            <!--<div>-->
                <!--<h5>Confirm New Password:-->
                    <!--<input type="password" id="Confirmpassword" name="Confirmpassword" maxlength="2000px" style="margin-left:19px;">-->
                <!--</h5>-->
            <!--</div>-->
        <!--</div>-->


        <!--<button id="SS"  type="submit" class="btn btn-warning btn-sm"> Submit </button>-->
        <!--<a href="/userhome" class="btn btn-warning btn-sm">Cancel</a>-->
        <!--</form>-->
        <div id="fieldManagementDiv" style="display: none">
            <table id="field">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Location Name</th>
                    <th>Latitude</th>
                    <th>Longitude</th>
                    <th>Main Crop</th>
                    <th>Main Crop Variety</th>
                    <th>Irrigation</th>
                    <th>Fertilized Used</th>
                    <th>Farming System</th>
                    <th>Field Size</th>
                    <th>Field Size Unit</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
            <div>
                <button class="btn btn-warning btn-sm button buttons" id="add">Add</button>
                <button class="btn btn-warning btn-sm button buttons" id="edit">Edit</button>
                <button class="btn btn-warning btn-sm button buttons" id="delete">Delete</button>
                <button class="btn btn-warning btn-sm button" id="addRow" style="display: none">Add a Row</button>
                <button class="btn btn-warning btn-sm button" id="deleteRow" style="display: none">Delete last Row</button>
                <!--<button class="btn btn-warning btn-sm button" id="save" style="display: none">Add a Row</button>-->
                <button class="btn btn-warning btn-sm button" id="addField" style="display: none">Save</button>
                <button class="btn btn-warning btn-sm button" id="editField" style="display: none">Save</button>
                <!--<button class="btn btn-warning btn-sm button" id="save" style="display: none">Save</button>-->
                <button class="btn btn-warning btn-sm button" id="cancel" style="display: none">Cancel</button>
                <!--<button class="btn btn-warning btn-sm button" onclick="a()">Click</button>-->
            </div>
        </div>
    </div>
</div>

<script>

    var UserRole = "<%= user.userrole %>";
    var DropMenu;
    var table = $("#field").DataTable();
    var fieldID;
    var OriLength;
    var CurLength;

    $(document).ready(function(){
        $(function () {
            if (UserRole === "Admin") {
                DropMenu = "<li><a href=\"/userprofile\">Profile</a></li>\n" +
                    "\t\t\t<li><a href=\"/userManagement\">User Management</a></li>\n" +
                    "\t\t\t<li><a href=\"/signout\">Sign Out</a></li>";
                $("#userMenu").empty();
                $("#userMenu").append(DropMenu);
            } else if (UserRole === "Regular") {
                DropMenu = "<li><a href=\"/userprofile\">Profile</a></li>\n" +
                    "\t\t\t<li><a href=\"/signout\">Sign Out</a></li>";
                $("#userMenu").empty();
                $("#userMenu").append(DropMenu);
            }

            var field = '<%- JSON.stringify(fieldInfo) %>';
            var username = "<%= user.username %>";

            field = JSON.parse(field);
            OriLength = field.length;
            CurLength = OriLength;

            for (var i = 0; i < field.length; i++) {
                // table.append($("<tr><td>" + field[i].locationName + "</td><td>" + field[i].latitude + "</td><td>" + field[i].longitude + "</td></tr>"));
                table.row.add([
                    // id: username + _ + number
                    field[i].id.substring(username.length + 1, field[i].id.length),
                    field[i].locationName,
                    field[i].latitude,
                    field[i].longitude,
                    field[i].mainCrop,
                    field[i].mainCropVariety,
                    field[i].irrigation,
                    field[i].fertilizedUsed,
                    field[i].farmingSystem,
                    field[i].fieldSize,
                    field[i].fieldSizeUnit
                ]).draw(false);
            }

            // table.row(0).data()[0] = "Z";
            // table.draw();
            // console.log(table.row(0).data()[0]);

            // var tbl = document.getElementById('field');
            // var rows = tbl.getElementsByTagName('tr');
            // console.log(rows.length);
            // for (var row = 0; row < rows.length; row++) {
            //     var cols = rows[i].children;
            //     console.log(cols);
            // }
        });
    });

    function refresh(id) {
        var tags = document.getElementsByClassName("refresh");

        for (var i = 0; i < tags.length; i++) {
            var selectId = tags[i].id;
            var selectDiv = tags[i].id + "Div";
            if (selectId === id) {
                // console.log(selectId);
                tags[i].style.display = "none";
                document.getElementById(selectDiv).style.display = "inline";
            } else {
                tags[i].style.display = "inline";
                document.getElementById(selectDiv).style.display = "none";
            }
        }
    }

    $('#field tbody').on('click', 'tr', function() {
        selectRow(this)
    });

    function selectRow(tbody) {
        fieldID = [];

        $(tbody).toggleClass('selected');    //toggle class for the rows selected

        var rowSelected = table.rows('.selected').data();    //Store all the data for selected rows'

        for (var i = 0; i < rowSelected.length; i ++) {
            // console.log(rowSelected[i][0]);
            fieldID.push(rowSelected[i][0]);
        }
    }

    $("#delete").on("click", function () {
        if (confirm("Are you sure you would like to delete this row(s)?") === true) {
            var fieldIDStr = "fieldIDStr=" + fieldID.toString();
            // console.log ("transactionIDStr: " + transactionIDStr);

            $.ajax({
                url: '/deleteField',
                type: 'GET',
                dataType: 'json',
                async: false,
                data: fieldIDStr,
                success: function (result) {
                    if (!result.error) {
                        window.location.replace('/userProfile');
                    } else {

                    }
                }
            })
        } else { return false;}
    });

    $("#add").on("click", function () {
        $(".buttons").css("display", "none");
        $("#addField, #addRow, #deleteRow, #cancel").css("display", "inline");
        $("#field tbody").off("click");
        $("tr").removeClass("selected");
        row();
    });

    $("#addRow").on("click", function () {
        row();
    });

    $("#deleteRow").on("click", function () {
        if (CurLength !== OriLength) {
            table.rows(CurLength - 1).remove().draw(false);
            CurLength--;
        } else {
            alert("Fail!")
        }
    });

    $("#edit").on("click", function () {
        var selectedRow = $(".selected");
        // var edit = table.rows('.selected').data();
        // console.log(edit);

        if (selectedRow.length !== 0) {
            $(".buttons").css("display", "none");
            $("#editField, #cancel").css("display", "inline");
            $("#field tbody").off("click");
            var edit = table.rows('.selected').data();

            for (var i = 0; i < edit.length; i++) {
                var data = [];
                for (var z = 0; z < edit[i].length; z++) {
                    data[z] = edit[i][z];
                    if (z === edit[i].length - 1) {
                        selectedRow.addClass("invisibleRow");
                        selectedRow.removeClass("selected");
                        row(data);
                    }
                }
            }

        } else {
            alert("Please choose the row you wish to edit");
        }

        // if (selectedRow.length === 1) {
        //     $(".buttons").css("display", "none");
        //     $("#editField, #cancel").css("display", "inline");
        //     $("#field tbody").off("click");
        //     // $("tr").removeClass("selected");
        //     var edit = table.rows('.selected').data();
        //     // console.log(edit);
        //     var data = [];
        //
        //     for (var i = 0; i < edit[0].length; i ++) {
        //         data[i] = edit[0][i];
        //         if (i === edit[0].length - 1) {
        //             // table.rows('.selected').removeClass("selected");
        //             selectedRow.addClass("invisibleRow");
        //             selectedRow.removeClass("selected");
        //             // table.rows('.selected').remove().draw(false)
        //             row(data);
        //         }
        //     }
        // } else {
        //     alert("Please choose one row to edit");
        // }
    });

    $("#cancel").on("click", function () {
        $(".buttons").css("display", "inline");
        $("#addField, #editField, #cancel, #addRow, #deleteRow").css("display", "none");
        $('#field tbody').on('click', 'tr', function() {
            selectRow(this)
        });

        for (; OriLength < CurLength; CurLength--) {
            // console.log(OriLength + "   " + CurLength);
            table.rows(CurLength - 1).remove().draw(false);
            if (OriLength === CurLength - 1) {
                $(".invisibleRow").removeClass("invisibleRow");
                // console.log(CurLength);
            }
        }

        // table.rows(OriLength).remove().draw(false);
        // $(".invisibleRow").removeClass("invisibleRow");
    });

    $("#addField, #editField").on("click", function () {
        var url = "/" + $(this).attr("id");
        console.log(url);

        // checkField(table.$("input, select").serialize());

        if (checkField(table.$("input, select").serialize()) !== false) {
            console.log("TRUE");
            $.ajax({
                type: "get",
                url: url,
                dataType: 'json',
                data: table.$("input, select").serialize(),
                success: function (result) {
                    if (!result.error) {
                        alert(result.message);
                        window.location.reload();
                    } else {
                        alert(result.message);
                    }
                }
            });
        } else {
            alert("Please fill out all the required fields !")
            console.log("FALSE");
        }

        // $.ajax({
        //     type: "get",
        //     url: url,
        //     dataType: 'json',
        //     data: table.$("input, select").serialize(),
        //     success: function (result) {
        //         if (!result.error) {
        //             alert(result.message);
        //             window.location.reload();
        //         } else {
        //             alert(result.message);
        //         }
        //     }
        // });
    });

    function checkField(dataStr) {
        console.log(dataStr);
        console.log(dataStr.split("=").join().split("&").join().split(","));
        var data = dataStr.split("=").join().split("&").join().split(",");

        for (var i = 1; i < data.length; i+=2) {
            if (data[i - 1] !== "mainCropVariety") {
                if (!data[i]) {
                    console.log(data[i - 1]);
                    return false;
                }
            } else {
                i += 2;
            }
        }
    }

    function row(data) {
        CurLength++;
        table.page('first');

        table.row.add([
            "<input id='id' name='id' value='" + (('0' + (CurLength)).slice(-2)) + "' readonly>",
            "<input id='locationName' name='locationName' type='text' required>",
            "<select id='latitudeDirection' name='latDir' required>" +
                "<option>N</option>" +
                "<option>S</option>" +
            "</select>" +
            "<input id='latitudeDegree' name='latDeg' type='number' required>°" +
            "<input id='latitudeMinute' name='latMin' type='number' required>'" +
            "<input id='latitudeSecond' name='latSec' type='number' required>''",
            "<select id='longitudeDirection' name='lonDir' required>" +
            "<option>E</option>" +
            "<option>W</option>" +
            "</select>" +
            "<input id='longitudeDegree' name='lonDeg' type='number' required>°" +
            "<input id='longitudeMinute' name='lonMin' type='number' required>'" +
            "<input id='longitudeSecond' name='lonSec' type='number' required>''",
            "<select id='mainCrop' name='mainCrop' required>" +
                "<option value=''>SELECT THE MAIN CROP</option> " +
                "<option>ALFALFA</option> " +
                "<option>BARLEY</option> " +
                "<option>COTTON</option> " +
                "<option>FLOWERS</option> " +
                "<option>MAIZE</option> " +
                "<option>MILLET</option> " +
                "<option>PEANUT</option> " +
                "<option>RICE</option> " +
                "<option>SORGHUM</option> " +
                "<option>SOYBEAN</option> " +
                "<option>SUGARBEET</option> " +
                "<option>SUGARCANE</option> " +
                "<option>TEFF</option> " +
                "<option>TOBACCO</option> " +
                "<option>WEEDS</option> " +
                "<option>WHEAT</option> " +
                "<option>OTHER CEREALS</option> " +
                "<option>OTHER FRUITS</option> " +
                "<option>OTHER GRASSES</option> " +
                "<option>OTHER VEGETABLES</option>" +
            "</select>",
            "<input id='mainCropVariety' name='mainCropVariety' type='text'>",
            // "<input type='radio' name='irrigation' value='Irrigated' required> IRRIGATED " +
            // "<input type='radio' name='irrigation' value='Rain-Fed' required> RAIN-FED " +
            // "<input type='radio' name='irrigation' value='Unknown' required> UNKNOWN ",
            // "<input type='radio' name='fertilizedUsed' value='YES' required> YES " +
            // "<input type='radio' name='fertilizedUsed' value='NO' required> NO " +
            // "<input type='radio' name='fertilizedUsed' value='UNKNOWN' required> UNKNOWN ",
            "<select id='irrigation' name='irrigation' required> " +
                "<option value=''>SELECT THE IRRIGATION METHOD</option> " +
                "<option>IRRIGATED</option> " +
                "<option>RAIN-FED</option> " +
                "<option>UNKNOWN</option> " +
            "</select>",
            "<select id='fertilizedUsed' name='fertilizedUsed' required> " +
                "<option value=''>SELECT THE FERTILIZED USED</option> " +
                "<option>YES</option> " +
                "<option>NO</option> " +
                "<option>UNKNOWN</option> " +
            "</select>",
            "<select id='farmingSystem' name='farmingSystem' required> " +
                "<option value=''>SELECT THE FARMING SYSTEM</option> " +
                "<option>SEASONAL</option> " +
                "<option>ROTATION</option> " +
                "<option>INTERCROPPING</option> " +
                "<option>PUSH-PULL</option> " +
                "<option>UNKNOWN</option> " +
            "</select>",
            "<input id='fieldSize' name='fieldSize' type='number' required>",
            "<select id='fieldSizeUnit' name='fieldSizeUnit' required> " +
                "<option value=''>SELECT THE FIELD SIZE UNIT</option> " +
                "<option>ACRE (acre)</option> " +
                "<option>HECTARE (ha)</option> " +
                "<option>SQUARE METER (m2)</option> " +
                "<option>SQUARE YARD (yd2)</option> " +
            "</select>"
        ]).draw(false);

        if (!!data) {
            $("#id").val(data[0]);
            $("#locationName").val(data[1]);
            var latitude = data[2].split(" ");
            $("#latitudeDirection").val(latitude[0]);
            $("#latitudeDegree").val(latitude[1]);
            $("#latitudeMinute").val(latitude[2]);
            $("#latitudeSecond").val(latitude[3]);
            var longitude = data[3].split(" ");
            $("#longitudeDirection").val(longitude[0]);
            $("#longitudeDegree").val(longitude[1]);
            $("#longitudeMinute").val(longitude[2]);
            $("#longitudeSecond").val(longitude[3]);
            $("#mainCrop").val(data[4]);
            $("#mainCropVariety").val(data[5]);
            $("#irrigation").val(data[6]);
            $("#fertilizedUsed").val(data[7]);
            // $("[name='irrigation'][value='" + data[6] + "']").prop("checked", true);
            // $("[name='fertilizedUsed'][value='" + data[7] + "']").prop("checked", true);
            $("#farmingSystem").val(data[8]);
            $("#fieldSize").val(data[9]);
            $("#fieldSizeUnit").val(data[10]);

            // console.log(OriLength);
            // console.log(CurLength);
            table.$("input, select").removeAttr('id');
        }
    }

    // function a() {
    //     console.log(table.rows(0).data());
    //     console.log(table.rows(1).data());
    //     console.log(table.rows(2).data());
    //     console.log(table.rows(3).data());
    // }

    function checkForm() {
        var oldP=document.getElementById("currentpassword").value;
        var newP=document.getElementById("newpassword").value;
        var confirmP =document.getElementById("Confirmpassword").value;

        if (newP != "") {
            if(oldP != "" && confirmP != "") {
                if(oldP != newP) {
                    if(newP == confirmP) {
                        alert ("V");
                        return true;
                    } else {
                        alert("New password are not matched!");
                        return false;
                    }
                } else {
                    alert("Please try your new password different from old one!");
                    return false;
                }
            } else {
                alert("All password fields are required");
                return false;
            }
        } else {return true}
    }

    function submit(e) {
        e.preventDefault();
        $.ajax({
            type: "post",
            url: "/detailedForm",
            dataType: 'json',
            data: $("#detailed").serialize(),
            success: function (result) {
                if (!result.error) {
                    document.getElementById("modal-footer").style.display = "none";

                    document.getElementById("modal-header").style.backgroundColor = "#5cb85c";
                    document.getElementById("close").innerHTML = "<a href='/userhome'>&times</a>";

                    document.getElementById("header").innerHTML = "Congratulations, Your Data Entry is Successfully Complete !";
                    document.getElementById("body").innerHTML = "<br>Click X to return to the Home Page.<br>";

                    document.getElementById("modal").style.display = "block";
                } else {
                    alert(result.message);
                }
            }
        });
    }

    $('#submit').submit(function(e) {
        // Prevent form submission
        e.preventDefault();

        $.ajax({
            type: "post",
            url: "/userProfile",
            dataType: 'json',
            data: $(this).serialize(),
            success: function (result) {
                if (!result.error) {
                    alert("SUCCESS");
                    window.location.replace('/userHome')
                } else {
                    alert(result.message);
                }
            }
        })
    });
</script>

</body>
</html>
